.image {
    background-image: url("../img/header.jpg");
    background-position-x: center ;
    background-position-y: center ;
}

header {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: rgb(0,0,0,0.5);
}

header h2 {
    font-family: "courgette";
}

header p {
    font-family: "courgette";
}

.logo {
    text-align: center;
    color: white;
}

.logo p {
    font-size: 30px;
}

.container img {
    height: 150px;
    width: auto;
}

.article {
    display: flex;
    padding-top: 50px;
}


.last-article {
    text-align: center;
}

.no-photo {
    padding-left: 20px;
}

.search {
    padding-bottom: 2rem;
}

form {
    margin-top: 80px;
}

form p {
    margin-bottom: 8px;
}

footer {
    background-color: black;
    color: white;
    padding-top: 40px;
    padding-bottom: 60px;
}

.precedent {
    padding-top: 20px;
    padding-bottom: 40px;
}

footer ul {
    list-style-type: none;
    color: white;
    padding-left: 0px;
}

.last-article {
    padding-top: 40px;
}

footer ul a {
    color: white;
}