.image {
    background-image: url("../img/header.jpg");
}

header {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.logo {
    text-align: center;
    color: white;
}

.logo p {
    font-size: 30px;
}

.container img {
    height: 150px;
    width: auto;
}