@font-face {
    font-family: "courgette";
    src: url(../fonts/Courgette-Regular.ttf)
}

@font-face {
    font-family: "Oswald";
    src: url(../fonts/Oswald-VariableFont_wght.ttf)
}

* {
    font-family: "Oswald";
}

.title a {
    font-family: "courgette";
}

footer {
    background-color: black;
    color: white;
    padding-top: 40px;
    padding-bottom: 60px;
}

footer ul {
    list-style-type: none;
    color: white;
    padding-left: 0px;
}

footer ul a {
    color: white;
}


footer p {
    font-family: "courgette";
}
